bleach==1.5.0
cycler==0.10.0
html5lib==0.9999999
Markdown==2.6.9
matplotlib==2.0.2
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
plac==0.9.6
protobuf==3.4.0
protobuf3==0.2.1
protocol-buffers-stream==1.0
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
sacrebleu==1.2.7
scikit-learn==0.19.1
scipy==1.0.0
sensorflow==2.3
six==1.11.0
sklearn==0.0
sumeval==0.1.6
tensorboard-pytorch==0.7.1
tensorboardX==0.8
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
torch==0.3.1
torchvision==0.1.9
typing==3.6.4
Werkzeug==0.12.2
